.frame {
    display: flex;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    pointer-events: none;
    z-index: 7;
    background: 
        linear-gradient(to right, var(--frame-color)  1px, transparent 1px),
        linear-gradient(to bottom, var(--frame-color) 1px, transparent 1px);
    background-size: 500px 500px;

    @media screen and (max-width: 400px) {
        background-size: 300px 300px;
    }
}
