.Biography {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: .5em;
    background-color: #9ec260;

    p {
        position: relative;
        font-size: 1.2em;
        line-height: 1.5;
        color: var(--foreground);
        font-weight: 400;
        font-family: var(--fofa);
        padding-left: .5em;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: var(--background-alt);
            border-radius: 9999px;
        }

        @media screen and (max-width: 450px) {
            padding: 0 1em;
            font-size: 1em;
            line-height: 1.8em;
        }
    }
}