section.Skills {
    display: flex;
    flex-direction: column;

    /**
     * stroke-dasharray - stroke-dasharray x percent (0.65)
     */

    section.skillsCategory {
        display: flex;
        flex-direction: column;

        h3.skillsCategoryTitle {
            display: flex;
            margin: 0 auto;
            font-size: 14px;
            text-transform: uppercase;
        }

        ul.skillsWrapper {
            display: grid;
            width: 100%;
            max-width: auto;
            grid-template-columns: repeat(auto-fill, 130px);
            padding: 1em 0;
            column-gap: 2em;
            row-gap: 2em;
            justify-content: center;
        }
    }
}