section.EducationsExperiences {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    h2.sectionTitle {
        margin: 2em auto;
    }

    .tabsControls {
        display: flex;
        column-gap: 32px;
        width: 100%;
        justify-content: center;

        button.tabsButton {
            border-radius: 4px;
            padding: 6px 12px;
            border: solid 3px var(--background-alt);
            color: var(--foreground);
            font-family: var(--fofa);

            &:focus {
                border-color: var(--tonic);
            }
        }
    }

    .tabsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}