a.NavLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32px;
    border-radius: 4px;
    padding: 0 12px;
    cursor: pointer;
    transition: background-color .25s ease;
    background-color: transparent;
    font-weight: 500;
    user-select: none;

    &:focus {
        outline-width: 3px;
        outline-color: var(--tonic);
        outline-style: solid;
        outline-offset: 0;
    }

    &:hover {
        background-color: var(--background-alt);
        transition: background-color .25s ease;
    }
}