:root {
    // Dark Theme
    --light-tonic: #ef753d;
    --dbackground: #111111;
    --dbackground-alt: #222222;
    --dforeground-alt: #565656;
    --dforeground: var(--white);
    
    // Light Theme
    --dark-tonic: #00d7e2;
    --lbackground: #fff;
    --lbackground-alt: #e5e5e5;
    --lforeground: #3c3836;
    --lforeground-alt: #7d7774;
}