:root {
    // Dark Theme
    --light-tonic: #c25e30;
    --dbackground: #222831;
    --dbackground-alt: #393e46;
    --dforeground-alt: #898989;
    --dforeground: var(--white);
    
    // Light Theme
    --dark-tonic: #00d7e2;
    --lbackground: #fbf0c6;
    --lbackground-alt: #cfc59c;
    --lforeground: #3c3836;
    --lforeground-alt: #7d7774;
}