// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './Normalize.scss';
@import './Root.scss';

::selection {
    background-color: var(--tonic);
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background-alt);
    border: solid 4px var(--background);
    border-radius: 999px;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    font-family: var(--fofa);
    background-color: var(--background);
    // background: linear-gradient(to bottom, var(--background), var(--background-alt));
    color: var(--foreground);
    align-items: center;
    z-index: 0;

    #app {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        z-index: 0;

        main {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 100%;
            row-gap: 2em;
            position: relative;

            &.under-grid {
                max-width: var(--desktop-width);
                z-index: 3;
            }
            
            &.upper-grid {
                max-width: var(--desktop-width);
                z-index: 8;
            }

            @media screen and (max-width: 400px) {
                max-width: 100%;
            }
            @media screen and (max-width: 1000px) {
                max-width: 95%;
            }
            @media screen and (max-width: 1200px) {
                max-width: 95%;
            }

            section {
                display: flex;
            }

            .section-title {
                position: relative;
                display: flex;
                flex-direction: column;
                width: auto;
                align-items: center;
                font-family: "Roboto";

                span.number {
                    font-size: 8em;
                    z-index: -1;
                    font-weight: 900;
                    color: var(--tonic);
                    opacity: .4;
                }

                h2 {
                    position: absolute;
                    bottom: 25%;
                    left: 50%;
                    transform: translateX(-50%);
                    user-select: none;
                    font-size: 2em;

                    @media screen and (max-width: 450px) {
                        font-size: 1.5em;
                        text-align: center;
                    }
                }   
            }
        }
            
        @media screen and (max-width: 400px) {
            row-gap: 1.5em;
        }

        footer {
            display: flex;
            margin-top: auto;
            height: 32px;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            column-gap: 4px;
            width: 100%;
            max-width: var(--app-width);
            color: var(--foreground-alt);
            user-select: none;

            .icon {
                display: flex;
                width: 13px;
                height: 13px;
                fill: var(--foreground-alt);
            }
        }
    }
}