@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

ul li {
    list-style-type: none;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: white;
    outline: none;
}

button {
    background-color: inherit;
}

:root {
    --background: #222831;
    --background-alt: #393e46;

    --color: #fff;
    --tonic: #00ADB5;

    --brad-default: 4px;
    --grid-gap: 32px;

    --tv: 1900px;
    --desktop: 1200px;
    --tablet: 900px;
    --phone: 450px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 16px;

    #app {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        background-color: var(--background);
        align-items: center;

        header {
            display: flex;
            padding: 0 1em;
            max-width: var(--desktop);
            width: 100%;
            height: 56px;
            justify-content: space-between;
            align-items: center;

            .app-name {
                font-size: 32px;
                font-weight: 600;
                color: var(--color);
                user-select: none;

                span {
                    color: var(--tonic);
                }
            }

            nav {
                display: flex;
                height: 100%;
                width: auto;

                ul {
                    display: flex;
                    height: 100%;
                    width: auto;
                    align-items: center;
                    column-gap: 4px;

                    li {
                        a.NavLink {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 32px;
                            border-radius: 4px;
                            padding: 0 12px;
                            cursor: pointer;
                            transition: background-color .25s ease;
                            background-color: transparent;
                            font-weight: 500;
                            user-select: none;
                        
                            &:focus {
                                outline-width: 3px;
                                outline-color: var(--tonic);
                                outline-style: solid;
                                outline-offset: 0;
                            }
                        
                            &:hover {
                                background-color: var(--background-alt);
                                transition: background-color .25s ease;
                            }
                        }

                        button.ToggleTheme {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 32px;
                            width: 32px;
                            border-radius: 4px;
                            border: none;
                            color: white;
                            cursor: pointer;
                            transition: background-color .25s ease;
                            background-color: transparent;
                        
                            &:active {
                                .toggle-theme-icon {
                                    transform: scale(.9);
                                    transition: transform .1s linear;
                        
                                    figure {
                                        fill: var(--tonic);
                                    }
                                }
                            }
                        
                            .toggle-theme-icon {
                                display: flex;
                                width: 100%;
                                height: 100%;
                                justify-content: center;
                                align-items: center;
                                transition: transform .1s linear;
                        
                                figure {
                                    display: flex;
                                    width: 14px;
                                    height: 14px;
                                    fill: var(--color);
                                }
                            }
                        
                            &:hover {
                                background-color: var(--background-alt);
                                transition: background-color .25s ease;
                            }
                        }
                    }
                }
            }
        }

        main {
            display: flex;
            flex-direction: column;
            max-width: var(--desktop);
            width: 100%;
            padding: 0 .5em;
            min-height: 100%;
        }

        footer {
            display: flex;
            margin-top: auto;
            height: 32px;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            column-gap: 4px;
            color: var(--background-alt);
            user-select: none;

            .icon {
                display: flex;
                width: 13px;
                height: 13px;
                fill: var(--background-alt);
            }
        }
    }
}