// @import './gruvbox';
@import './bw';

:root {
    --brad-default: 9999px;
    --grid-gap: 32px;

    --desktop: 1200px;
    --app-width: 50%;
    --desktop-width: 100%;

    --fofa: "Poppins", sans-serif;

    // Colors
    --white: #fff;
    --black: #000;
  
    *[color-theme="dark"] {
        --tonic: var(--dark-tonic);
        --background: var(--dbackground);
        --background-alt: var(--dbackground-alt);
        --foreground: var(--dforeground);
        --foreground-alt: var(--dforeground-alt);
        --invertedBackground: var(--lbackground-alt);

        --frame-color: var(--dframe-color);
    }

    
    *[color-theme="light"] {
        --tonic: var(--light-tonic);
        --background: var(--lbackground);
        --background-alt: var(--lbackground-alt);
        --foreground: var(--lforeground);
        --foreground-alt: var(--lforeground-alt);
        --invertedBackground: var(--dbackground);

        --frame-color: var(--lframe-color);
    }

    @media (prefers-color-scheme: light) {
        --tonic: var(--light-tonic);
        --background: var(--lbackground);
        --background-alt: var(--lbackground-alt);
        --foreground: var(--lforeground);
        --foreground-alt: var(--lforeground-alt);

        --frame-color: var(--lframe-color);
    }

    @media (prefers-color-scheme: dark) {
        --tonic: var(--dark-tonic);
        --background: var(--dbackground);
        --background-alt: var(--dbackground-alt);
        --foreground: var(--dforeground);
        --foreground-alt: var(--dforeground-alt);

        --frame-color: var(--dframe-color);
    }
}
